In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import glob

In [10]:
(glob.glob("zillow/*.csv"))

['zillow/State_time_series.csv',
 'zillow/City_time_series.csv',
 'zillow/CountyCrossWalk_Zillow.csv',
 'zillow/cities_crosswalk.csv',
 'zillow/Metro_time_series.csv',
 'zillow/Zip_time_series.csv',
 'zillow/County_time_series.csv',
 'zillow/DataDictionary.csv',
 'zillow/Neighborhood_time_series.csv']

In [15]:
state =  pd.read_csv("zillow/State_time_series.csv")
city = pd.read_csv("zillow/City_time_series.csv")
countyCrossWalk = pd.read_csv("zillow/CountyCrossWalk_Zillow.csv")
citiesCrosswalk = pd.read_csv("zillow/cities_crosswalk.csv")
metro = pd.read_csv("zillow/Metro_time_series.csv")
ziptime = pd.read_csv("zillow/Zip_time_series.csv")
countyTime =pd.read_csv("zillow/County_time_series.csv")
dataDict = pd.read_csv("zillow/DataDictionary.csv",encoding="utf8")
neighbor = pd.read_csv("zillow/Neighborhood_time_series.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
city.head()

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,abbottstownadamspa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108700.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,aberdeenbinghamid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168400.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenharfordmd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,aberdeenmonroems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74500.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,aberdeenmoorenc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,131100.0,NaN,NaN,NaN,NaN,NaN