# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [ ]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [ ]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

In [ ]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [ ]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

In [ ]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [3]:
json_df = pd.read_json('data/world_bank_projects.json')

# Task 1

I used the column (countryname) from the dataframe and apply value_counts method to get the 10 countries with the most projects.

In [4]:
json_df.countryname.value_counts(ascending=False).head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

# Task 2
 
 The task is to find the most project themes. I loaded file as json string and normalized the column( mjtheme_namecode) and then converted it into pandas dataframe. Using that dataframe and applying value count method on  column name gives the most project themes in order.

In [5]:
print(json_df.mjtheme_namecode.head(1))

0    [{'code': '8', 'name': 'Human development'}, {...
Name: mjtheme_namecode, dtype: object

In [6]:
json_data = json.load((open('data/world_bank_projects.json')))

In [7]:
common_projects =json_normalize(json_data,'mjtheme_namecode')

In [8]:
json_to_panda= pd.DataFrame(common_projects)
print(json_to_panda.name.value_counts().head(10))

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

# Task 3

As we can see there is one row missing name above. I started with making a copy of same dataframe and dropped the duplicates to have all the unique values left in dataframe. Next step, I eliminated all the rows with missing names. I used for loop and filled the missing values using unique values dataframe.

In [9]:
new_json_data = json_to_panda.drop_duplicates()
new_json_data = new_json_data[new_json_data['name'] != '']

In [11]:
for index, row in json_to_panda.iterrows():
    if(row['name']== ''):
        print(row['name'])
        for index,row1 in new_json_data.iterrows():
            if(row1['code']==row['code']):
                row['name'] = row1['name']
print(json_to_panda.name.value_counts().head(10))

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64

# Testing dataframe for any missing names

In [17]:
json_to_panda.head(15)

   code                                          name
0     8                             Human development
1    11  Environment and natural resources management
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6         Social protection and risk management
14    2                      Public sector governance